body {
  text-align: center; 
  background-color: white;
  }
 
header{
  width:100%; 
  height: 150px; 
  background-color: red;
  align-items: center;
  }

table{
  text-align: center;
}

footer{
  width:100%; 
  height: 150px; 
  background-color: rgb(202, 235, 55);
  }

h1 {
    color: rgb(128, 119, 0);
    margin-left: 20px;
    text-align: center;
  }
.center{
  margin-left: auto; 
  margin-right: auto;
}
/* kolom 1 */
#a-1{
  background-color: aqua;
  color: red;
}
#a-2{
  background-color:brown ;
}
#a-3{
  background-color:chartreuse ;
  color:rgb(10, 6, 228);
}
#a-4{
  background-color:chocolate;
}
/* kolom 2 */
#b-1{
  background-color: rgb(15, 179, 179);
  color: greenyellow;
}
#b-2{
  background-color:rgb(139, 35, 35) ;
}
#b-3{
  background-color:rgb(145, 201, 90) ;
  color: rgb(230, 49, 79);
}
#b-4{
  background-color:rgb(182, 89, 22);
}
/* kolom 3 */
#c-1{
  background-color: rgb(7, 135, 158);
  color: yellow;
}
#c-2{
  background-color:rgb(158, 30, 30) ;
}
#c-3{
  background-color:rgb(112, 145, 80) ;
  color: deeppink;
}
#c-4{
  background-color:rgb(134, 63, 12);
}
/* kolom 4 */
#d-1{
  background-color: rgb(20, 109, 109);
  color: orange;
}
#d-2{
  background-color:rgb(116, 9, 9) ;
}
#d-3{
  background-color:rgb(53, 80, 27) ;
  color: blueviolet;
}
#d-4{
  background-color:rgb(95, 41, 3);
}
